@import 'imports/global';

/**
 * Dropdown 2
 */

/* Functional styles - these are always applied
---------------------------------------------------------------------- */
.aui-dropdown2 {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: none;
    max-width: 300px;
    min-width: 160px;
    position: absolute;
}
.aui-dropdown2 a {
    display: block;
}
.aui-dropdown2 .aui-list-truncate a {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* Default style for Dropdown2, invoked with aui-style-default
---------------------------------------------------------------------- */
.aui-dropdown2.aui-style-default {
    background-color: @aui-dropdown2-bg-color;
    border: 1px solid @aui-dropdown2-border-color;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}
.aui-dropdown2.aui-style-default ul {
    list-style: none;
    margin: 2px 0;
    padding-left: 0;
}
.aui-style-default .aui-dropdown2-section + .aui-dropdown2-section {
    border-top: 1px solid @aui-dropdown2-border-color;
}
.aui-dropdown2.aui-style-default > strong,
.aui-dropdown2.aui-style-default .aui-dropdown2-section > strong,
.aui-dropdown2-heading {
    color: #707070;
    display: block;
    font-size: 12px;
    font-weight: bold;
    padding: 7px 10px 5px;
    text-transform: uppercase;
}
.aui-dropdown2.aui-style-default strong + ul {
    margin-top: 0;
}
.aui-dropdown2.aui-style-default a {
    color: @aui-text-color;
    padding: 3px 10px;
    text-decoration: none;
}
.aui-dropdown2.aui-style-default a:focus,
.aui-dropdown2.aui-style-default a:hover {
    text-decoration: none;
}
.aui-dropdown2.aui-style-default .active,
.aui-dropdown2.aui-style-default .aui-dropdown2-active {
    background-color: @aui-link-inverted-bg-color;
    color: @aui-link-inverted-text-color;
}
.aui-dropdown2.aui-style-default .disabled,
.aui-dropdown2.aui-style-default .aui-dropdown2-disabled{
    color: @aui-dropdown2-disabled-text-color; /* equivalent of opacity: 0.5 without need for IE8 filter */
    cursor: default;
}
.aui-dropdown2.aui-style-default .aui-icon-container,
.aui-dropdown2.aui-style-default .aui-dropdown2-radio,
.aui-dropdown2.aui-style-default .aui-dropdown2-checkbox {
    padding-left: 31px;
}

.aui-dropdown2.aui-style-default .aui-icon-container,
.aui-dropdown2.aui-style-default .aui-dropdown2-radio,
.aui-dropdown2.aui-style-default .aui-dropdown2-checkbox {
    /* position of the background or icon (both 16x16) is:
     * - 10px from the left to match the item padding
     * - 7px from the top which is calculated:
     *   - 5px for the top padding of the item
     *   - 2px is half the difference between the line-height (20) and the icon height (16) so it's vertically spaced
     */
    background-position: 10px 5px;
    background-repeat: no-repeat;
    position: relative;
}

.aui-dropdown2.aui-style-default .aui-icon-container > img,
.aui-dropdown2.aui-style-default .aui-icon-container > .aui-icon {
    border-width: 0;
    left: 10px;
    position: absolute;
    top: 5px;
}
.aui-dropdown2.aui-style-default .aui-icon-container > .aui-icon {
    display: block;
    overflow: hidden;
    text-indent: -99999px;
}


/* Checkbox items */
.aui-dropdown2.aui-style-default .aui-dropdown2-checkbox.checked,
.aui-dropdown2.aui-style-default .aui-dropdown2-checkbox.aui-dropdown2-checked{
    /* black tick */
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAZElEQVQ4y2P4//8/AyWYYdQA0gwAAisgjifLAKjmT0D8A4hlcBoABMxArIVD8y8gDsTrAiBYCMSfgdiakGZcBgRAFYMMScenGWcYQA35BsRf8WnGG4hAEAs1IJDsaAQCsRGQlAFzIahrvTZlPQAAAABJRU5ErkJggg==);
}
.aui-dropdown2.aui-style-default .aui-dropdown2-checkbox.checked.active,
.aui-dropdown2.aui-style-default .aui-dropdown2-checkbox.aui-dropdown2-checked.aui-dropdown2-active{
    /* white tick */
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAXUlEQVQ4y2P4//8/AyWYYdQAkg2wAuJ4cg0Aaf4ExD+AWAafAcxArIVD8y8gDiTkgoVA/BmIrQlpxmVAAFQxyJB0fJrxhQHIkG9A/BWfZkKBGAs1IJCSaBQbAUkZADrWERF5/1uYAAAAAElFTkSuQmCC);
}
.aui-dropdown2.aui-style-default .aui-dropdown2-checkbox.checked.disabled,
.aui-dropdown2.aui-style-default .aui-dropdown2-checkbox.aui-dropdown2-checked.aui-dropdown2-disabled,
.aui-dropdown2.aui-style-default .aui-dropdown2-checkbox.checked.disabled.active,
.aui-dropdown2.aui-style-default .aui-dropdown2-checkbox.aui-dropdown2-checked.aui-dropdown2-disabled.aui-dropdown2-active {
    /* grey tick */
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAeElEQVQ4y2P4//8/AyWYYdQA0gw4deqU1ZkzZ+LJMgCk+fTp05+A+MeJEydkcBqwatUqZqACLRyaf508eTIQrwuAihYC8WcgtiakGasBQD8GgBRDDUnHpxlnGEAN+QbEX/FpxhuIQI2xIAPwaSYYCxcvXhQbAUkZACU4+yryyeQvAAAAAElFTkSuQmCC);
}

/* Radio items */
.aui-dropdown2.aui-style-default .aui-dropdown2-radio.checked,
.aui-dropdown2.aui-style-default .aui-dropdown2-radio.aui-dropdown2-checked{
    /* checked */
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAPklEQVQ4y2P4//8/AyWYYdQA7AYAAZuamlo7ED+H4naQGNEGQDX/R8PtpBjwHIsBz+lqAGVeoDgQR1MiaRgAnxW7Q0QEK0cAAAAASUVORK5CYII=);
}
.aui-dropdown2.aui-style-default .aui-dropdown2-radio.checked.active,
.aui-dropdown2.aui-style-default .aui-dropdown2-radio.aui-dropdown2-checked.aui-dropdown2-active {
    /* checked hover/focus */
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAOklEQVQ4y2P4//8/AyWYYdQAnAawAXE7ED+H4naoGNEGgDSgg3ZSDHiOxYDndDWAYi9QHIijKZEEDABrgRimRc6sKAAAAABJRU5ErkJggg==);
}
.aui-dropdown2.aui-style-default .aui-dropdown2-radio.checked.disabled,
.aui-dropdown2.aui-style-default .aui-dropdown2-radio.aui-dropdown2-checked.aui-dropdown2-disabled,
.aui-dropdown2.aui-style-default .aui-dropdown2-radio.checked.disabled.active,
.aui-dropdown2.aui-style-default .aui-dropdown2-radio.aui-dropdown2-checked.aui-dropdown2-disabled.aui-dropdown2-active {
    /* checked disabled and checked disabled hover/focus */
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAARklEQVQ4y2P4//8/AyWYYdQA7AasWrWK7eDBg+0HDhx4DsIgNkiMaANAGoD4PxpuJ9oAqK0oBoDE6GcAxV6gOBBHUyJpGADX7/1D0vUTdAAAAABJRU5ErkJggg==);
}

.aui-dropdown2.aui-dropdown2-tailed {
    border: 1px solid @aui-dropdown2-border-color;
    margin-top: 10px;
}

.aui-dropdown2.aui-dropdown2-tailed:before,
.aui-dropdown2.aui-dropdown2-tailed:after {
    border-color: transparent;
    border-style: outset outset solid outset;
    border-width: 8px;
    bottom: 100%;
    content: "";
    display: block;
    height: 0;
    position: absolute;
    width: 0;
}
.aui-dropdown2.aui-dropdown2-tailed:before {
    border-bottom-color: @aui-dropdown2-border-color;
    margin-bottom: 1px;
}
.aui-dropdown2.aui-dropdown2-tailed:after {
    border-bottom-color: @aui-dropdown2-bg-color;
}

/* basic in-page dropdown trigger style DEPRECATED as of 4.2 */
.aui-dropdown2-trigger.aui-style-dropdown2triggerlegacy1 {
    padding: 5px 8px;
    text-decoration: none;
}
.aui-dropdown2-trigger.aui-style-dropdown2triggerlegacy1:hover,
.aui-dropdown2-trigger.aui-style-dropdown2triggerlegacy1:focus,
.aui-dropdown2-trigger.aui-style-dropdown2triggerlegacy1.active,
.aui-dropdown2-trigger.aui-style-dropdown2triggerlegacy1.aui-dropdown2-active{
    background-color: #326ca6;
    border-radius: 4px;
    color: @aui-dropdown2-trigger-active-color;
    text-decoration: none;
}
.aui-dropdown2-trigger.aui-style-dropdown2triggerlegacy1.active,
.aui-dropdown2-trigger.aui-style-dropdown2triggerlegacy1.aui-dropdown2active{
    border-radius: 4px 4px 0 0;
}

.aui-dropdown2-trigger.aui-style-dropdown2triggerlegacy1[aria-disabled="true"],
.aui-dropdown2-trigger.aui-style-dropdown2triggerlegacy1[aria-disabled="true"]:hover,
.aui-dropdown2-trigger.aui-style-dropdown2triggerlegacy1[aria-disabled="true"]:focus,
.aui-dropdown2-trigger.aui-style-dropdown2triggerlegacy1[aria-disabled="true"]:active {
    background: inherit;
    color: #99b6d3; /* equivalent of opacity: 0.5 without need for IE8 filter. */
    cursor: default;
}

/* Toolbar/Toolbar2-via-buttons integration. Avoid double border: */
.aui-dropdown2.aui-style-default.aui-dropdown2-in-toolbar,
.aui-dropdown2.aui-style-default.aui-dropdown2-in-buttons {
    margin-top: -1px;
    border-top-color: @aui-dropdown2-border-color;
}

/* Header integration. */
.aui-dropdown2.aui-style-default.aui-dropdown2-in-header {
    margin-top: 1px;
}
.aui-dropdown2.aui-style-default.aui-dropdown2-in-header.aui-dropdown2-in-buttons {
    margin-top: 0;
}
.aui-dropdown2.aui-style-default.aui-dropdown2-in-header.aui-dropdown2-tailed {
    margin-top: 4px;
}

/* Arrow for sub menus */
.aui-dropdown2-sub-trigger {
    position: relative;
}

.aui-dropdown2-sub-trigger:after {
    border: 5px solid transparent;
    border-left-color: @aui-dropdown2-trigger-color;
    content: "";
    height: 0;
    margin-left: -16px;
    margin-top: -5px;
    left: 100%; /* "left" + "margin-left" required because of webkit not working properly with "right" */
    position: absolute;
    top: 50%;
    width: 0;
}

.aui-dropdown2-sub-trigger.active:after,
.aui-dropdown2-sub-trigger.aui-dropdown2-active:after {
    border-left-color: @aui-dropdown2-trigger-active-color;
}

.aui-dropdown2-sub-trigger.disabled:after,
.aui-dropdown2-sub-trigger.aui-dropdown2-disabled:after{
    border-left-color: @aui-dropdown2-trigger-disabled-color;
}

.aui-dropdown2.aui-dropdown2-sub-menu,
.aui-dropdown2.aui-dropdown2-in-header.aui-dropdown2-sub-menu {
    margin-top: -3px;
}



