@import 'imports/global';

.aui-message {
    background: #fcfcfc;
    border: 1px solid @aui-message-default-border-color;
    border-radius: 5px;
    color: @aui-message-text-color;
    margin: 10px 0 0 0;
    padding: 10px 10px 10px 36px; /* Be sure to adjust icon positions below if these values are changed */
    position: relative;
}
.aui-message:first-child {
    margin-top: 0;
}
/* Lighter shadow for messages */
.aui-message.shadowed {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.aui-popup .aui-message.closeable,
.aui-dialog .aui-message.closeable {
    z-index: 4000;
}

/* DEPRECATED .error, .warning, .hint, .info, .success */
.aui-message.error,
.aui-message-error {
    background: @aui-message-error-bg-color;
    border-color: @aui-message-error-border-color;
    color: @aui-message-error-text-color;
}
.aui-message.warning,
.aui-message-warning {
    background: @aui-message-warning-bg-color;    /* 5% of palette yellow #ffd351 */
    border-color: @aui-message-warning-border-color;  /* 50% of palette yellow #ffd351 */
}
.aui-message.hint,
.aui-message-hint,
.aui-message.info,
.aui-message-info {
    background: @aui-message-info-bg-color;    /* 5% of palette blue lozenge #4a6785 */
    border-color: @aui-message-info-border-color;  /* 50% of palette blue lozenge #4a6785 */
}
.aui-message.success,
.aui-message-success {
    background: @aui-message-success-bg-color;    /* 5% of palette green #14892c */
    border-color: @aui-message-success-border-color;  /* 50% of palette green #14892c */
}

/* Errors get a different link style */
.aui-message.error a,
.aui-message-error a {
    color: @aui-message-error-text-color;
    text-decoration: underline;
}

.aui-message p.title {
    font-weight: bold;
}
/* IE double bolds otherwise... */
.aui-message p.title strong {
    font-weight: inherit;
}

/* Positioning aui-icon for messages */
.aui-message .aui-icon {
    left: 10px; /* desired spacing between the icon and text = 10px so need to subtract the icon width (16px) from the left padding of the message (36px) then remove 10px */
    position: absolute;
    top: 12px; /* 12px = top padding of the message (10px) + align to the center of the text ((20px line-height - 16px icon height) / 2) */
}

.aui-message.closeable {
    padding-right: 36px;
}

.aui-message.closeable .icon-close {
    cursor: pointer;
    left: auto;
    right: 10px;
}
/* End aui-icon position */

/* Header interop */
#header .aui-message {
    border-bottom: none;
    border-left: none;
    border-right: none;
    border-width: 2px;
    margin: 0;
    border-radius: 0;
}

/* Footer interop (provisional, just enough to stop them looking broken) */
#footer .aui-message {
    margin-left: 20px;
    margin-right: 20px;
    text-align: left;
}